body {
    background-color: #f0f0f0;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

header {
    background-color: #91E5FF;
    color: white;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h1 {
    margin: 0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#cloudy-gif {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    aspect-ratio: 9/16;
}
